.names_text {
    text-align: center;
}

.col-lg-4:hover {
    background-color: rgba(0,0,0,0.025);
}
.col-lg-4 {
    border-radius: 10px;
}

.carousel-caption {
    top: 45%;

}

.carousel-caption h1 {
    font-size: 8vw;
}

.carousel_img {
    width: 100% !important;
    height: 600px !important;
    object-fit: cover !important;
    object-position: 0% 20% !important;
}